.main-section{
    padding:1rem 2rem;
}

.heading__lead{
    font-size: 1.2rem;
    margin:1rem 0;
    margin-top:-0.5rem;
}

.inputsection > div{
    margin:2rem 0; 
}

.testcases__group button {
    margin:1rem 0;
    margin-right:1rem;
}

.testcases__heading{
    padding-top:2rem;
    font-size: 1.4rem;
    font-weight: bold;
}

.testcases__subheading{
    font-size: 1.1rem;
    padding-top:0.5rem;
    text-decoration: underline;
}